<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("./partial/head") %>
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-navbar">
			<div class="container">
				<a class="navbar-brand" href="#">Welcome, <%= username %></a>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarNav"
					aria-controls="navbarNav"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ms-auto">
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="#">Player List</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/admin/create">Create New Player</a>
						</li>
						<li class="nav-item">
							<form action="/admin/logout" method="GET">
								<button class="btn btn-adminlogout nav-link">Logout</button>
							</form>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container player-list">
			<% if (success) { %> <%- include('./partial/successMessage', {message: success[0]}) %> <% } else if (error) { %> <%-
			include('./partial/errorMessage', {message: error[0]}) %> <% } %>
			
			<!-- Player-List Card -->
			<div class="row d-flex justify-content-center justify-content-md-evenly align-items-center">
				<% if (data.length > 0) { %> <% data.forEach(player => { %>
				<div class="col-10 col-md-5 col-lg-4 my-3 py-3">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title text-center"><%= player.username %></h5>
							<h6 class="card-subtitle mb-2 text-dark text-center"><%= player.email %></h6>
							<hr />
							<p class="card-text">Age: <%= player.biodata ? player.biodata.age : "" %></p>
							<p class="card-text">Address: <%= player.biodata ? player.biodata.address : "" %></p>
							<p class="card-text">City: <%= player.biodata ? player.biodata.city : "" %></p>
							<p class="card-text">Win: <%= player.history ? player.history.win : "" %></p>
							<p class="card-text">Draw: <%= player.history ? player.history.draw : "" %></p>
							<p class="card-text">Lose: <%= player.history ? player.history.lose : "" %></p>

							<div class="action-group d-flex justify-content-center align-items-center my-3">
								<a href="/admin/edit/<%= player.uuid %>" class="btn btn-warning me-4"> EDIT </a>
								<form action="/admin/delete/<%= player.uuid %>" method="POST">
									<button class="btn btn-danger">DELETE</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				<% }) %> <% } else { %>
				<%- include('./partial/dashboardPlaceholder') %>
				<% } %>
			</div>

			<% if (totalPage > 0) { %>
			<div class="row py-3">
				<!-- Pagination-->
				<nav aria-label="Pagination">
					<ul class="pagination justify-content-center my-4 dashboard-pagination">
						<li class="page-item <%= currentPage == 1 ? "disabled" : "" %>">
							<a class="page-link" href="/admin/dashboard/?page=<%= prevPage %>" tabindex="-1" aria-disabled="true">Prev</a>
						</li>

						<% for( let index = 1; index < totalPage + 1; index++ ) { %>
						<li class="page-item <%= index == currentPage ? "active" : "" %>" aria-current="page">
							<a class="page-link" href="/admin/dashboard?page=<%= index %>"><%= index %></a>
						</li>
						<% } %>

						<li class="page-item <%= totalPage == currentPage || totalPage == 0 ? "disabled" : "" %>">
							<a class="page-link" href="/admin/dashboard?page=<%= nextPage %>">
							Next
							</a>
						</li>
					</ul>
				</nav>
			</div>
			<% } %>
		</div>

		<%- include('./partial/footer') %>
	</body>
</html>
